# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3

print(numberFloat)

3.2

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2 
num2 = 5.4

result = num1 + num2

print(result)
result += 2
print(result)

7.4
9.4

##### Subtraction

In [7]:
result_diff = num2 - num1
print(result_diff)
print(int(result_diff))

3.4000000000000004
3

# Multiplication

In [9]:
result_mul = num1 * num2
print(result_mul)
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [10]:
result_div = num2 / num1
print(result_div)

2.7

##### Floor Division

In [11]:
result_flrdiv = num2 // num1
print(result_flrdiv)

2.0

##### Modulo

In [13]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [15]:
result_exp = 5 ** 2
print(result_exp)

25

### String Input-Output

##### String Assignment

In [16]:
name = "Austin"
print(name)

Austin

##### print() <br>
<p>Don't forget about end=' '</p>

In [20]:
print("this is my first name:", name)

print("full name:", name, end=" Bates")

this is my first name: Austin
full name: Austin Bates

##### String Concatenation

In [23]:
first_name = "Austin"
last_name = "Bates"

full_name = first_name + " " + last_name
print(full_name)

Austin Bates

##### Type Conversion

In [25]:
number = "32"

change_type_num = int(number)

print(number)
print(change_type_num + 1)

32
33

##### input()

In [29]:
# input will always return a string
# name=input("what is your name")
# print("nice to meet you, " + name

age = int(input("what is your age? "))
add_age = age + 5
print(add_age)

what is your age? 28
33

##### format()

In [32]:
age = input("what is your age? ")
result_string = "you are {} {} and you are getting wiser".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life"
print(result_again)

what is your age? 28
you are 28 Austin and you are getting wiser

##### Old Way (python 2)

In [33]:
result_string2 = "you are %s and you look great for your age" %age
print(result_string2)

you are 28 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [36]:
car_color = input("What color is your car? ")
car_year =  input("what year is your car? ")
car_make = input("What make is your car? ")
car_model = input("what model is your car? ")

car = car_color + " " + car_year + " " + car_make + " " + car_model

print("Your car is a " + car)

What color is your car? black
what year is your car? 2015
What make is your car? jeep
what model is your car? compass
Your car is a black 2015 jeep compass

### If Statements

In [46]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 16
num2= 16

# if num1 == num2:
#     print("this is true!")
# else:
#     print("that thing was not true.. FALSE")
    
if num2 > num1:
    print("Num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("equal values")

equal values

##### 'is' keyword

In [48]:
# the "is" keyword is for checking same object but not same value

num3 = 55

if num3 is 55:
    print("this is the same number/object")

this is the same number/object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\18433\AppData\Local\Temp\ipykernel_35264\1569401570.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [49]:
# check if a character is in a string
char_name = "frodo baggins"

if "frodo" in char_name:
    print("the ring bearer")

the ring bearer

##### 'not in' keyword'

In [50]:
sega_char = "sonic"

if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [55]:
food = input("what is your favorite food? ")

if "p" in food:
    print("YOU ARE COOL!")
else:
    print("NOT ACCEPTABLE")

what is your favorite food? pineapple
YOU ARE COOL!

## Using 'and'/'or' with If Statements

In [57]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3 

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("true and true")
    
if num_11 > num_12 or num_13 == num_14:
    print("true and false")

true and true
true and false

### Elif Statements

In [64]:
first_name = input("what is your name? ")

if first_name == "smith":
    print("the name is smith")
    
elif first_name == "austin":
    print("the name is austin")
    
elif first_name != "max":
    print("the name is NOT max")
    
else:
    print("the name is max")

what is your name? max
the name is max

### Else Statements

In [ ]:
# see above

### For Loops

In [68]:
# syntax 
# for counter in condition

name = "austin bates "

for letter in name:
    print(letter)
    
number = [5,6,7,8]

for num in number:
    print(num + 1)

a
u
s
t
i
n

b
a
t
e
s

6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [70]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(20):
    if i == 5:
        break
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [72]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [74]:
# syntax
# while keyword, condition statment

num = 0

while num < 10:
        print(num)
        num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [77]:
game_over = True 

while game_over:
    print("infinite loop")
    user_input = input("Would you like to stop? ")
    if user_input == 'Yes':
        game_over = False

infinite loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [82]:
num = 0 

while num < 5:
    print("\n While loop iteration " + str(num))
    
    for i in range(2):
        print("for loop iteration ", str(i + 1))
        
        
    num += 1

 While loop iteration 0
for loop iteration  1
for loop iteration  2

 While loop iteration 1
for loop iteration  1
for loop iteration  2

 While loop iteration 2
for loop iteration  1
for loop iteration  2

 While loop iteration 3
for loop iteration  1
for loop iteration  2

 While loop iteration 4
for loop iteration  1
for loop iteration  2

### Built-In Functions

##### range()

In [ ]:
# range(start,stop,step)

for i in range(2, 20, 2):
    print(i)

##### len()

In [ ]:
name = "max"

length = len(name)
print(length)

##### help()

In [83]:
# use this function to view more info about python function
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [86]:
# check variable to find out what family or data type it belongs to
# isinstance(var, type)

num = input("pick a number")
# print(isinstance(num, int))
if isinstance(num, int):
    print(f'{num} is an int')
else:
    print(f'{num} is a float')

# if isinstance(4.5 , float):
#     print("number is a float")

pick a number9
9 is a float

##### abs()

In [87]:

print(abs(-5))

5

### Try and Except

In [ ]:
# use tgis to loge out graceful and useful errors
# does not stop program here

try:
    input_num = int(input("guess a number"))
    print("your number is: " + str(input_num))
        
except:
    print('that didnt work change input to a number')

### Lists

##### Declaring Lists

In [88]:
list_1 = []

names = ['max', 'cindy', 'kathy', 'bob', 'nate']
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [92]:
# list_name[start: stop: step]

# single index
print(names[0:4])

['max', 'cindy', 'kathy', 'bob']

##### .append()

In [96]:
names.append('austin')
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'austin']

##### .insert()

In [97]:
names.insert(3, 'iommi')
print(names)

['max', 'cindy', 'kathy', 'iommi', 'bob', 'nate', 'austin']

##### .pop()

In [99]:
my_name = names.pop()
print(my)

nate


##### .remove()

In [100]:
names.remove('bob')
print(names)

['max', 'cindy', 'kathy', 'iommi']

##### del()

In [101]:
del(names[1])
print(names)

['max', 'kathy', 'iommi']

##### Concatenating Two Lists

In [106]:
# will append two lists together
# will NOT add values

list_2=[0,1,2]
list_3=[3,4,5]

large_list=list_2+list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# lists can hold any other element including other lists

names = ['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tamicka']]
print(names)
print(names[3][1][1])

##### Looping Through Lists

In [108]:
# 2 ways to loop through list one by index one by "in" keyword

# index
for i in range(len(names)):
    print(names[i])
    
# loop with "in"
for i in names:
    print(i)

max
sam
josh
['sally', ['sue', 'jim'], 'tamicka']
max
sam
josh
['sally', ['sue', 'jim'], 'tamicka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [129]:
for i in range(1000):
    i=i**3
    if i >= 1000:
        break
    print(i)

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [173]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for i in range (1, 101):
    num = 0
    for j in range(2, (i//2 + 1)):
        if(i % j == 0):
            num = num + 1
            break
    if (num == 0 and i != 1):
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [117]:
age = int(input('How old are you? '))

if age < 18:
    print('kid')
elif age <= 65:
    print('adult')
else:
    print('senior')

How old are you? 66
senior